{{#each daily}}
    <li>
        <h5>{{this.date}}</h5>
        <label>Done:</label><br/>
        <ol>
            {{#each this.daily.does}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
        <label>Todo:</label><br/>
        <ol>
            {{#each this.daily.todo}}
                <li {{#unless this.finished}}class="unfinished"{{/unless}}>{{this.content}}</li>
            {{/each}}
        </ol>
    </li>
{{/each}}