<a class="logo" href="index.html">ZJDGX</a>
<div class="category">
    <div class="frontend item{{#if frontend}} cur{{/if}}">
        <label>Frontend</label>
        <ul>
            <li {{#if css}}class='cur'{{/if}}><a href="css.html">CSS</a></li>
            <li {{#if html}}class='cur'{{/if}}><a href="html.html">HTML5</a></li>
            <li {{#if mobile}}class='cur'{{/if}}><a href="mobile.html">Mobile</a></li>
            <li {{#if javascript}}class='cur'{{/if}}><a href="javascript.html">Javascript</a></li>
        </ul>
    </div>
    <div class="backend item{{#if backend}} cur{{/if}}">
        <label>Backend</label>
        <ul>
            <li {{#if java}}class='cur'{{/if}}><a href="java.html">Java</a></li>
            <li {{#if nodejs}}class='cur'{{/if}}><a href="nodejs.html">Nodejs</a></li>
            <li {{#if android}}class='cur'{{/if}}><a href="android.html">Android</a></li>
        </ul>
    </div>
    <div class="database item{{#if database}} cur{{/if}}">
        <label>Database</label>
        <ul>
            <li {{#if mysql}}class='cur'{{/if}}><a href="mysql.html">MySQL</a></li>
            <li {{#if mongodb}}class='cur'{{/if}}><a href="mongodb.html">MongoDB</a></li>
        </ul>
    </div>
    <div class="framework item{{#if framework}} cur{{/if}}">
        <label>Framework</label>
        <ul>
            <li {{#if backbone}}class='cur'{{/if}}><a href="backbone.html">Backbone</a></li>
            <li {{#if react}}class='cur'{{/if}}><a href="react.html">React</a></li>
            <li {{#if redux}}class='cur'{{/if}}><a href="redux.html">Redux</a></li>
        </ul>
    </div>
    <div class="tools item{{#if tools}} cur{{/if}}">
        <label><a href="tools.html">Tools</a></label>
        <ul>
            <li {{#if gulp}}class='cur'{{/if}}><a href="gulp.html">Gulp</a></li>
            <li {{#if grunt}}class='cur'{{/if}}><a href="grunt.html">Grunt</a></li>
            <li {{#if webpack}}class='cur'{{/if}}><a href="webpack.html">webpack</a></li>
        </ul>
    </div>
    <div class="notes item{{#if notes}} cur{{/if}}">
        <label><a href="notes.html">Notes</a></label>
    </div>
	<div class="source item{{#if source}} cur{{/if}}"><label><a href="source.html">Source</a></label></div>
</div>