<div class="javascript">
    <ul class="sidebar style-border"></ul>
    {{#if defaultContent}}
        <iframe class="contentFrame" src="{{defaultContent}}" frameborder="0" scrolling="0" marginheight="0" marginwidth="0"></iframe>
    {{else}}
        <div class="contentFrame nothing style-bg">
            Nothing At All...
        </div>
    {{/if}}
</div>