/*@import "~font-awesome/css/font-awesome.css"*/
@import '~normalize.css/normalize.css'

body
   font 12px/1.5 'Courier New', 'Microsoft Yahei'

html, body, p, h1, h2, h3, ul, ol
   margin 0
   padding 0
h1, h2, h3
   font-weight normal
li
   list-style none
opacity(n)
  -khtml-opacity n
  -moz-opacity n
  opacity n
  if support-for-ie
    -ms-filter unquote('"progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')"')
    filter unquote('alpha(opacity=' + round(n * 100) + ')')
placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
iframe
   top 0
   left 320px
   height 100%
   position absolute
   width calc(100% - 320px)

transition(value)
   -webkit-transition value
   -moz-transition value
   -ms-transition value
   -o-transition value
   transition value

transform(value)
   -webkit-transform value
   -moz-transform value
   -ms-transform value
   -o-transform value
   transform value
border-radius()
   -webkit-border-radius arguments
   -moz-border-radius arguments
   border-radius arguments

.useful-links
  top 0
  left 0
  right 0
  bottom 0
  padding 20px
  display flex
  flex-wrap wrap
  text-align left
  position absolute
  align-content flex-start
  background-color rgba(0,0,0,.1)
  .important-links
    width 100%
    display block
    margin-top 20px
  a
    color #fff
    height 24px
    padding 0 10px
    overflow hidden
    line-height 26px
    text-align center
    margin-right 10px
    white-space nowrap
    margin-bottom 10px
    text-decoration none
    display inline-block
    text-overflow ellipsis
    background-color rgba(0,0,0,.6)
.blog-links
  right 0
  bottom 0
  width 100px
  position fixed
  line-height 18px
  background-color rgba(0, 0, 0, 0.4);
  a
    display block
    margin-right 0
    background none
    margin-bottom 0
.china-map
  max-width 100%
  max-height 100%