/* Global CSS */
html, body, .main {height: 100%;overflow: hidden}
body{ margin:0 auto; color:#222; font:12px "Courier New","Microsoft Yahei",Arial;background-color: #f6f6f6;overflow-x: hidden}
div,form,ul,ol,li,span,p{margin:0 auto; padding:0; border:0;}
img,a img{margin:0; padding:0; border:none;}
ul,ol,li{list-style:none;}
table,td,input{ padding:0; font-size:12px;}
h1,h2,h3,h4,h5,h6{ margin:0 auto;font-weight: bold;}
h1 {font-size:28px;}
h2 {font-size:22px;}
h3 {font-size:16px;}
h4 {font-size:14px;}
h5 {font-size:14px;}
h6 {font-size:14px;}

.clear{clear:both;font-size:1px;width:1px;height:0;visibility:hidden;margin-top:0 !important;*margin-top:-1px;line-height:0}
.vmid{ margin:0 auto; width:980px;}

/* Default Link */
a:link, a:visited{ color:#08c; text-decoration:none; outline-style:none;}
a:active, a:hover{ color:#318528; text-decoration: underline; }
a.underline:link, a.underline:visited{ color:#454545; text-decoration:underline;}
a.underline:hover{ color:#B00; text-decoration:underline;}
.hide {display: none;}
.shadow {
    background-color: #fff !important;
    border-top: 1px solid #efefef !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #FF5E99;
}

h1.logo img {
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.nav {
    float: left;
    width: 300px;
    margin-right: -300px;
    height: 100%;position: relative;
}
.main {
    overflow: hidden;
    position: relative;
    margin-left: 310px;
    background-color: #fff;
    box-shadow: 1px 0 0 rgba(0,0,0,0.1) inset !important;
}
ul.title-list,
ul.type-list{
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 10px 20px 10px;
    height: calc(50% - 15px);
}
ul.type-list {
    margin-bottom: 10px;
}
.nav h1 {
    margin: 20px 0;
    text-align: center;
}
.nav-list {
    left: 0;
    right: 0;
    bottom: 0;
    top: 191px;
    height: auto;
    overflow: hidden;
    position: absolute;
}
.nav-list li {
    height: 30px;
    padding: 0 10px;
    overflow: hidden;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #ececec;
}
#content-frame {
    top: 0;
    bottom: 0;
    height: 100%;
    border: none;
    position: absolute;
}