/* Global CSS */
body{ margin:0 auto; background:url(../common/img/jz.jpg) repeat center center; color:#222; font:12px Verdana,Sans-Serif,Arial;background-color: #f6f6f6;}
div,form,ul,ol,li,span,p{margin:0 auto; padding:0; border:0;}
img,a img{margin:0; padding:0; border:none;}
ul,ol,li{list-style:none;}
table,td,input{ padding:0; font-size:12px;}
h1,h2,h3,h4,h5,h6{ margin:0 auto;font-weight: bold;font-family: Microsoft yahei;}
h1 {font-size:28px;}
h2 {font-size:22px;}
h3 {font-size:16px;}
h4 {font-size:14px;}
h5 {font-size:14px;}
h6 {font-size:14px;}

.clear{clear:both;font-size:1px;width:1px;height:0;visibility:hidden;margin-top:0px!important;*margin-top:-1px;line-height:0}
.vmid{ margin:0 auto; width:980px;}

/* Default Link */
a:link, a:visited{ color:#08c; text-decoration:none; outline-style:none;}
a:active, a:hover{ color:#318528; text-decoration: underline; }
a.underline:link, a.underline:visited{ color:#454545; text-decoration:underline;}
a.underline:hover{ color:#B00; text-decoration:underline;}
.hide {display: none;}
.shadow {
    background-color: #fff !important;
    border-top: 1px solid #efefef !important;
    box-shadow: 0 1px 3px rgba(0,0, 0, 0.2) !important;
}

.header h1 {text-align: center;font-family: Helvetica;font-size: 120px;letter-spacing: 30px; padding: 20px 0;}
.main {width: 980px; margin: 0 auto;padding: 0 20px; overflow: hidden; font-family: Microsoft Yahei, couriewer new;}
ul.content-list,
.detail-content{
    float: left;
    width: 748px;
}
ul.content-list li {
    height: 80px;
    padding: 5px 10px;
    margin-bottom: 10px;
}
ul.content-list li a {
    font-size: 16px;
}
ul.content-list li p {
    margin-top: 10px;
}
.nav-list {
    float: left;
    width: 200px;
    padding: 10px;
    margin-left: 10px;
}
#content-frame {
    border: none;
}