/* Global CSS */
body{ margin:0 auto; background-color:#FFF; color:#222; font:12px Verdana,Sans-Serif,Arial,'?????งา?';}
div,form,ul,ol,li,span,p{margin:0 auto; padding:0; border:0;}
img,a img{margin:0; padding:0; border:none;}
ul,ol,li{list-style:none;}
table,td,input{ padding:0; font-size:12px;}
h1,h2,h3,h4,h5,h6{ margin:0 auto;font-weight: bold;font-family: Microsoft yahei;}
h1 {font-size:28px;}
h2 {font-size:22px;}
h3 {font-size:16px;}
h4 {font-size:14px;}
h5 {font-size:14px;}
h6 {font-size:14px;}

.clear{clear:both;font-size:1px;width:1px;height:0;visibility:hidden;margin-top:0px!important;*margin-top:-1px;line-height:0}
.vmid{ margin:0 auto; width:980px;}

/* Default Link */
a:link, a:visited{ color:#08c; text-decoration:none; outline-style:none;}
a:active, a:hover{ color:#318528; text-decoration: underline; }
a.underline:link, a.underline:visited{ color:#454545; text-decoration:underline;}
a.underline:hover{ color:#B00; text-decoration:underline;}

.main {width: 980px; margin: 100px auto;padding: 0 20px; border: 1px solid #ccc;overflow: hidden; font-family: Microsoft Yahei, couriewer new;}
.main .content{padding-top: 20px; width: 48%;border-right: 1px solid #ccc;float: left;margin-left: -1px;margin-bottom: -9999px;padding-bottom: 9999px;}
.content table {margin-bottom: 20px;}
.content td {font-size: 14px; font-family: Microsoft Yahei; height: 28px; line-height: 28px;}
.content td:first-child{text-align: right;}
.content td:last-child{padding-left: 8px;}
.main .right-aside{padding-top: 20px; float: right;margin-bottom: -9999px;padding-bottom: 9999px;}
.right-aside ol {margin-bottom: 20px;}
.right-aside li {margin-left: 30px;font-family: courier new;list-style-type: decimal;height: 28px; line-height: 28px;}
.header h1 {text-align: center;font-family: Helvetica;font-size: 120px;letter-spacing: 30px;}