gray-bg = #6f7c7c
deep-green-bg = #30c67b
deep-blue-bg = #226d99
red-bg = #f76c6c
sky-blue-bg = #3fb1c8
magenta-bg = #a35d95
yellow-bg = #ffc53f
purple-bg = #7659b0
pink-bg = #fd9998
light-green-bg = #9ade8d

.gray-style
  .style-bg
    background-color gray-bg !important
  .style-border
    border-color gray-bg !important
.deep-green-style
  .style-bg
    background-color deep-green-bg !important
  .style-border
    border-color deep-green-bg !important
.deep-blue-style
  .style-bg
    background-color deep-blue-bg !important
  .style-border
    border-color deep-blue-bg !important
.red-style
  .style-bg
    background-color red-bg !important
  .style-border
    border-color red-bg !important
.sky-blue-style
  .style-bg
    background-color sky-blue-bg !important
  .style-border
    border-color sky-blue-bg !important
.magenta-style
  .style-bg
    background-color magenta-bg !important
  .style-border
    border-color magenta-bg !important
.yellow-style
  .style-bg
    background-color yellow-bg !important
  .style-border
    border-color yellow-bg !important
.purple-style
  .style-bg
    background-color purple-bg !important
  .style-border
    border-color purple-bg !important
.pink-style
  .style-bg
    background-color pink-bg !important
  .style-border
    border-color pink-bg !important
.light-green-style
  .style-bg
    background-color light-green-bg !important
  .style-border
    border-color light-green-bg !important