@import './normalize.css'

/* l(link)-o-v(visited)-e, h(hover)-a(active)-t-e */
a:link
   color: #000;
a:visited
   color: #0E1BEA;
a:hover
   color: #16B971
a:active
   color: #C3139A

textOverflow()
   overflow hidden
   white-space nowrap
   text-overflow ellipsis
   -o-text-overflow ellipsis
   -moz-binding url('./ellipsis.xml#ellipsis')
