@import './normalize.css'
@import './pagestyle.styl'
body
  font 12px/1.5em 'Courier New', 'Microsoft Yahei'
code, pre
  padding 10px
  border-radius 4px
  background #f2f2f2
  font 12px/1.5em 'Courier New', 'Microsoft Yahei'
code
  padding 2px 10px
ul
  margin 0
  padding 0
li
  list-style none
ol li
  list-style-type decimal
blockquote
  margin 0
  padding 10px 0
  text-indent 1em
  margin-left 3em
  background-color #f6f6f6
  border-left 5px solid #CcC
h1
  margin 0
  padding .67em 1em
  border-bottom 1px solid #23c678
.content
  padding 0 20px
  margin-top 20px
h2
   margin 0
   padding 0
   height 2em
   line-height 2em
   margin-bottom 0.5em
   border-bottom 1px dotted #aaa
p
  text-align justify
  word-wrap break-word
  word-break break-all
.indent1
  text-indent 1em
.indent2
  text-indent 2em
.indent3
  text-indent 3em
.indent4
  text-indent 4em
em
  color #23c678
  font-weight bold
  font-style normal
  text-decoration underline
img
  max-width 100%
