<!DOCTYPE html>
<html>
<head>
    <meta name='date' content='2015-07-07'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Components -- zjdgx</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="main">
		<ul class="nav">
			<li><a href="#" onclick="return false;">checkbox</a></li>
			<li><a href="#" onclick="return false;">transform</a></li>
			<li><a href="#" onclick="return false;">dropdown</a></li>
		</ul>
		<div class="wrap">
			<div class="content">
				<h2>Components</h2>
				<ul class="list">
					<li>
						<div class="zjdgxCheckbox"></div>
					</li>
					<li>
						<div class="transformDemo">transformDemo</div>
					</li>
					<li>
						<div class="dropdown">
							<div class="css">
								<label>css</label>
								<ul>
									<li>item11</li>
									<li>item12</li>
									<li>item13</li>
									<li>item14</li>
								</ul>
							</div>
							<div class="jQuery">
								<label>jQuery</label>
								<ul>
									<li>item11</li>
									<li>item12</li>
									<li>item13</li>
									<li>item14</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<div class="dialog">
							<div class="demo">达到公司法士大夫</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../common/script/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="multiSelect/multiSelect.js"></script>
	<script type="text/javascript" src="dialog/zjdgxDialog.js"></script>
	<script type="text/javascript">
		$(function() {
			$('.zjdgxCheckbox').multiSelect({
				title: 'select',
				items: [
					{
						selected: false,
						value: 'item1'
					},
					{
						selected: false,
						value: 'item2'
					},
					{
						selected: true,
						value: 'item3'
					}
				],
				onChange: function (data) {
					console.log('selected: ' + data);
				}
			});
			$('.dropdown .jQuery').hover(function(){
				$(this).find('ul').slideDown();
			},function() {
				$(this).find('ul').slideUp();
			});
			$('.dialog .demo').dialog({className: 'demosss'});
		});
	</script>
</body>
</html>
