body{
	font: 12px/1.5 Courier new, Microsoft Yahei, sinsum;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
	margin: 0;
	padding: 0;
}

.main {
	width: 98%;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-width: 0 1px;
}
.main i {background: url(img/zjdgx.png) no-repeat center center;display: inline-block;}

.multiSelect {position: relative;}
.multiSelect label {display: block;width: 100px;border: 1px solid #ddd;text-align: center;margin: 0;height: 22px;line-height: 22px;}
.multiSelect label i.icon-add {width: 22px;height: 22px;display: inline-block;background-position: 5px 6px;float: right;border-left: 1px solid #ddd;}
.multiSelect ul {left: 0;top: 22px;width: 120px;display: none;position: absolute;border-radius: 2px;border: 1px solid #ddd;background-color: #fff;}
.multiSelect.open ul {display: block;}
.multiSelect ul li {float: none;border-bottom: 1px solid #ddd;padding: 0 4px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.multiSelect ul li:last-of-type {border-bottom: none;}
.multiSelect ul li i {width: 12px;height: 12px;vertical-align: middle;background-position: 1px -18px;margin: 0;padding: 0 4px 0 0;}
.multiSelect ul li:hover i {background-position: 1px -31px;}
.multiSelect ul li i.checked {background-position: 1px -44px;}
.multiSelect ul li span {vertical-align: middle;}