html, body, .main {height: 100%;overflow: hidden;}
body{font: 12px/1.5 Courier new, Microsoft Yahei, sinsum;}
li { list-style: none;}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {margin: 0;padding: 0;}

.main .nav {float: left;width: 180px;height: 100%;padding: 10px;white-space: nowrap;border-right: 1px solid #ddd;}
.main .nav li {overflow: hidden; text-overflow: ellipsis;  background-color: #29B4F0;height: 24px;line-height: 24px;padding-left: 10px;}
.main .nav li a {color: #fff;text-decoration: none; font-size:14px;}
.main .wrap {width:100%;float: left;height: 100%;margin-left: -201px;}
.main .wrap .content {height: 100%;position: relative;margin-left: 201px;}
.main .content h2 {width: 100%;height: 40px;margin-bottom: 1%;line-height: 40px;text-align: center;border-bottom: 1px solid #ddd;}
.main i {background: url(img/zjdgx.png) no-repeat center center;display: inline-block;}
/*.main .content ul {text-align: center;overflow: auto;width: auto;position: absolute;top: 41px;bottom: 0;left: 0;right: 0;padding-top: 10px;}*/
.main .content ul {display: -moz-box;display: -webkit-box;display: -ms-flexbox; display: -webkit-flex; display: flex;-webkit-flex-flow: row wrap; justify-content: space-around;}
.main .content ul li {  width: 20%;height: 120px;border: 1px dashed #aaa;padding: 1%;display: inline-block;margin: 1%;text-align: center;background-color: #f6f6f6;overflow: hidden;}

@media screen and (max-width: 641px) {
	.main .nav {
		width: 100px;
	}
	.main .wrap {
		margin-left: -121px;
	}
	.main .wrap .content {
		margin-left: 121px;
	}
	.main .content ul li {
		min-width: 120px;
	}
}

.main .multiSelect {position: relative;}
.main .multiSelect label {display: block;width: 100px;border: 1px solid #ddd;text-align: center;margin: 0;height: 22px;line-height: 22px;}
.main .multiSelect label i.icon-add {width: 22px;height: 22px;display: inline-block;background-position: 5px 6px;float: right;border-left: 1px solid #ddd;}
.main .multiSelect ul {left: 0;top: 22px;width: 120px;display: none;position: absolute;border-radius: 2px;border: 1px solid #ddd;background-color: #fff;}
.main .multiSelect.open ul {display: block;padding:0;background-color: #fff;}
.main .multiSelect ul li {height: auto;width: auto;float: none;border: none;border-bottom: 1px solid #ddd;padding: 0 4px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; background: none; margin: 0;display: block;text-align: left;}
.main .multiSelect ul li:last-of-type {border-bottom: none;}
.main .multiSelect ul li i {width: 12px;height: 12px;vertical-align: middle;background-position: 1px -18px;margin: 0;padding: 0 4px 0 0;}
.main .multiSelect ul li:hover i {background-position: 1px -31px;}
.main .multiSelect ul li i.checked {background-position: 1px -44px;}
.main .multiSelect ul li span {vertical-align: middle;}

.transformDemo {
	color: #fff;
	height: 32px;
	font-size: 24px;
	position: relative;
	border-radius: 16px;
	background-color: #F98183;
}
.transformDemo:before {
	top: 0;
	left: 0;
	width: 100%;
	content: '';
	height: 100%;
	display: block;
	position: absolute;
	border-radius: 16px;
	transform: scale(0, 1);
	-webkit-transform: scale(0, 1);
	transition: transform 0.3s ease;
	background-color: rgba(255,255,255,0.2);
	-webkit-transition: transform 0.3s ease;
}
.transformDemo:hover:before {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}

.main .content .dropdown > div li {
	margin: 0;
	width: auto;
	border: none;
	height: 24px;
	display: block;
	padding: 0 20px;
	text-align: left;
	line-height: 24px;
	background-color: inherit;
	border-bottom: 1px solid #ccc;
}

.dropdown > div {
	position: relative;
	border: 1px solid #ccc;
}
.main .dropdown .css {
	margin-bottom: 20px;
}
.main .dropdown .css ul {
	left: 0;
	height: 0;
	top: 1.5em;
	display: block;
	overflow: hidden;
	background: #fff;
	position: absolute;
	border: 1px solid #ccc;
	border-bottom: none;
	transition: height 0.3s ease;
	-webkit-transition: height 0.3s ease;
}
.dropdown .css:hover ul {
	height: 100px;
}
.main .dropdown .jQuery ul {
	display: none;
	background: #fff;
	border: 1px solid #ccc;
}

.dialog {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    position: fixed;
    background-color: rgba(0,0,0,0.2);
}
.dialog .inner {
    text-align: center;
	display: table-cell;
    vertical-align: middle;
}
.dialog .content {
	width: 400px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}