// 引入 antd 的样式
@import '~antd/dist/antd.min.css';

gray-bg = #4e5859
sub-gray-bg = #6f7c7c
deep-green-bg = #3ea672
sub-deep-green-bg = #30c67b
deep-blue-bg = #225077
sub-deep-blue-bg = #226d99
red-bg = #c9575d
sub-red-bg = #f76c6c
sky-blue-bg = #058eac
sub-sky-blue-bg = #3fb1c8
magenta-bg = #833c74
sub-magenta-bg = #a35d95
yellow-bg = #e5a51c
sub-yellow-bg = #ffc53f
purple-bg = #5a4486
sub-purple-bg = #7659b0
pink-bg = #dc7170
sub-pink-bg = #fd9998
light-green-bg = #75b767
sub-light-green-bg = #9ade8d

.gray-style
  .style-bg
    background-color gray-bg !important
  .sub-nav-bg
    background-color sub-gray-bg !important
  .style-border
    border-color gray-bg !important
.deep-green-style
  .style-bg
    background-color deep-green-bg !important
  .sub-nav-bg
    background-color sub-deep-green-bg !important
  .style-border
    border-color deep-green-bg !important
.deep-blue-style
  .style-bg
    background-color deep-blue-bg !important
  .sub-nav-bg
    background-color sub-deep-blue-bg !important
  .style-border
    border-color deep-blue-bg !important
.red-style
  .style-bg
    background-color red-bg !important
  .sub-nav-bg
    background-color sub-red-bg !important
  .style-border
    border-color red-bg !important
.sky-blue-style
  .style-bg
    background-color sky-blue-bg !important
  .sub-nav-bg
    background-color sub-sky-blue-bg !important
  .style-border
    border-color sky-blue-bg !important
.magenta-style
  .style-bg
    background-color magenta-bg !important
  .sub-nav-bg
    background-color sub-magenta-bg !important
  .style-border
    border-color magenta-bg !important
.yellow-style
  .style-bg
    background-color yellow-bg !important
  .sub-nav-bg
    background-color sub-yellow-bg !important
  .style-border
    border-color yellow-bg !important
.purple-style
  .style-bg
    background-color purple-bg !important
  .sub-nav-bg
    background-color sub-purple-bg !important
  .style-border
    border-color purple-bg !important
.pink-style
  .style-bg
    background-color pink-bg !important
  .sub-nav-bg
    background-color sub-pink-bg !important
  .style-border
    border-color pink-bg !important
.light-green-style
  .style-bg
    background-color light-green-bg !important
  .sub-nav-bg
    background-color sub-light-green-bg !important
  .style-border
    border-color light-green-bg !important
.page-style
   bottom 0
   z-index 1
   width 15px
   height 161px
   display flex
   position absolute
   flex-direction column
   .ib
      flex 1
      height 16px
      border 1px solid transparent
      &.cur
          border-color #fff
   .gray
      background-color gray-bg
   .deep-green
      background-color deep-green-bg
   .deep-blue
      background-color deep-blue-bg
   .red
      background-color red-bg
   .sky-blue
      background-color sky-blue-bg
   .magenta
      background-color magenta-bg
   .yellow
      background-color yellow-bg
   .purple
      background-color purple-bg
   .pink
      background-color pink-bg
   .light-green
      background-color light-green-bg
