/**
 * AvatarUI-tipbox
 * @version v2.0.1
 * @author  Rocky(296456018@qq.com)
 * @date    2013-04-25
 */

/*------ 提示框 Start ------*/
.autoTip{ position:relative; display:inline-block;}
.tipBox{ display:none; position:absolute; top:0; left:0; padding:5px; background:#D9F1FB; border:1px solid #7FCDEE; line-height:18px; text-shadow:0 0 1px #fff; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -moz-box-shadow:2px 2px 5px #DAF5FA; -webkit-box-shadow:2px 2px 5px #DAF5FA; box-shadow:2px 2px 5px #DAF5FA;}
.tipBoxArrow,.tipBoxArrow1{ display:block; position:absolute; width:0; height:0; overflow:hidden; z-index:999; }

.tipBoxArrowTop, .tipBoxArrow1Top{ left:50%; bottom:-12px; margin-left:-6px; border:6px dashed transparent; border-top-style:solid; border-top-color:#d9f1fb; }
.tipBoxArrow1Top{ margin-left:-7px;  bottom:-14px; border-width:7px;  border-top-color:#7fcdee; }

.tipBoxArrowRight, .tipBoxArrow1Right{ left:-12px; top:50%; margin-top:-6px; border:6px dashed transparent; border-right-style:solid; border-right-color:#d9f1fb; }
.tipBoxArrow1Right{ left:-14px; top:50%; margin-top:-7px; border-width:7px; border-right-color:#7fcdee; }

.tipBoxArrowBottom, .tipBoxArrow1Bottom{ left:50%; top:-12px; margin-left:-6px; border:6px dashed transparent; border-bottom-style:solid; border-bottom-color:#d9f1fb; }
.tipBoxArrow1Bottom{ margin-left:-7px; top:-14px; border-width:7px;  border-bottom-color:#7fcdee; }

.tipBoxArrowLeft, .tipBoxArrow1Left{ right:-12px; top:50%; margin-top:-6px; border:6px dashed transparent; border-left-style:solid; border-left-color:#d9f1fb; }
.tipBoxArrow1Left{ right:-14px; top:50%; margin-top:-7px; border-width:7px; border-left-color:#7fcdee; }

/* 提示框自定义主题( 仅限改变背景和边框颜色 ) */
.tipBoxOrange{ background:#FFFDF0; border:1px solid #FEDE77; -moz-box-shadow:2px 2px 5px #FFFDF0; -webkit-box-shadow:2px 2px 5px #FFFDF0; box-shadow:2px 2px 5px #FFFDF0;}
.tipBoxOrange .tipBoxArrowTop{ border-top-color:#FFFDF0;}
.tipBoxOrange .tipBoxArrow1Top{ border-top-color:#FEDE77;}
.tipBoxOrange .tipBoxArrowRight{ border-right-color:#FFFDF0;}
.tipBoxOrange .tipBoxArrow1Right{ border-right-color:#FEDE77;}
.tipBoxOrange .tipBoxArrowBottom{ border-bottom-color:#FFFDF0;}
.tipBoxOrange .tipBoxArrow1Bottom{ border-bottom-color:#FEDE77;}
.tipBoxOrange .tipBoxArrowLeft{ border-left-color:#FFFDF0;}
.tipBoxOrange .tipBoxArrow1Left{ border-left-color:#FEDE77;}

/*------ 提示框 Start ------*/
