@import '../common/header.styl'
html, body
  width 100%
  height 100%
  overflow hidden
  font 12px/1.5em 'Courier New', 'Microsoft Yahei'
ul, ol, li, p
  margin 0
  padding 0
li
  list-style none
h5
  margin 0

.daily
  overflow hidden
  margin 10px 6% 0
  padding 10px 0 0 10px
  border 1px solid #23c778
  > li
    float left
    padding 10px 20px
    border-radius 4px
    margin 0 10px 10px 0
    width calc(20% - 32px)
    box-shadow 0 0 2px #23c778
    label
      text-indent 1em
      display inline-block
    ol
      text-indent 2em
	  li
		word-wrap break-word
		word-break break-all
	.unfinished
		color #dd4b39
		text-decoration underline
