@import '../common/header.styl'
html, body
   width 100%
   height 100%
   overflow hidden
   font 12px/1.5em 'Courier New', 'Microsoft Yahei'
ul, li, p
   margin 0
   padding 0
li
   list-style none
.home
   left 0
   top 62px
   bottom 0
   height auto
   padding 0 50px
   position absolute
   overflow-x hidden
   width calc(100% - 100px)
   ul
      overflow hidden
      padding-bottom 2em
      border-bottom 1px solid #23c778
      &:last-of-type
         border-bottom  none
      li
         width 15%
         float left
         height 60px
         padding 5px 10px
         margin-right 10px
         margin-bottom 10px
         border 1px dotted #23c778
      a
         color #00e
         outline none
         -moz-outline none
         text-decoration none
      h5
         margin 0
      p
         text-indent 1em