html,body,p,h1,h2,h3,h4,h5,h6,form,input,textarea,select,button,fieldset,legend,img,ul,ol,li,dl,dt,dd,th,td,pre,blockquote{margin:0;padding:0}
html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased}
body{background: #f0f0f0;color:#000;}
body,button,input,select,textarea,h2,h3,h4,h5,h6{font:14px 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial;-webkit-font-smoothing: antialiased;}
img,fieldset{border:0;vertical-align:middle}
input{padding:0;margin:0;outline:none;}
a{text-decoration:none;color:#4c4c4c;}
a:hover{text-decoration:none;}
ul,li,ol{list-style:none}
img{max-width:100%;}
.clear{clear:both;height:0;line-height:0;font-size:0;visibility:hidden;overflow:hidden}
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;zoom:1;}
.l{float:left;}.r{float:right;}
/*reset样式重置*/
.allbg{background:url(../images/backgrnd.jpg) left repeat-y #ebebeb;-moz-background-size:100% 220px;
    -webkit-background-size:100% 220px;
    -o-background-size:100% 220px;
    background-size:100% 220px;}
.mainbg { position:fixed; top:0; left:0; width:100%; height:100%; z-index:-99; }
.mainbg img { width:100%; height:100%; }
/* banner */
.banner img {width: 100%;}
/* music */
.btn_music{display:inline-block;width:35px;height:35px;background:url('../images/play.png') no-repeat center center;background-size:100% auto;position:absolute;z-index:100;left:15px;top:20px;}
.btn_music.on{background-image:url("../images/stop.png");}	
/* top_menu */
.top_bar{position:fixed;z-index:9000;bottom:0;left:0;right:0;margin:auto;font-family:Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif;}
.top_menu{display:-webkit-box;border-top:1px solid #b3b3b3;display:block;width:100%;background:rgba(255, 255, 255, 0.7);height:40px;display:-webkit-box;display:box;margin:0;padding:0;-webkit-box-orient:horizontal;background:-webkit-gradient(linear, 0 0, 0 100%, from(#e7e4e7), to(#b9b9b9));}
.top_menu li{-webkit-box-flex:1;background:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.1)));-webkit-background-size:1px 100%, 1px 100%;background-size:1px 100%, 1px 100%;background-position:1px center, 2px center;background-repeat:no-repeat;position:relative;text-align:center;display:inline-block;width:25%;float:left;}
.top_menu li a label{padding:3px 0 0 3px;font-size:12px;overflow:hidden;}
.top_menu li a{height:40px;line-height:40px;display:block;text-align:center;color:#4f4d4f;text-shadow:0 1px rgba(255, 255, 255, 0.3);text-decoration:none;border-top:1px solid #f9f9f9;-webkit-box-flex:1;}
.top_menu li a p{overflow:hidden;margin:0 0 0 0;font-size:12px;display:block!important;line-height:18px;text-align:center;}
.top_menu li a img{padding:0;height:20px;width:20px;color:#fff;line-height:40px;vertical-align:middle;}
.top_menu li a:hover,.top_menu li a:active{background-color:#CCCCCC;}	
/*soso*/
.sear{position: relative; z-index:999; width:100%}
.shopsearch{ float:left;position: relative; z-index:999;margin-left:2.5%; margin-top:2.5%; width:94.6%; border:2px solid #ec5248; height:42px; background-color:#fff  }
.soso-box{float:left; position:relative;z-index:900; width:70%;}
.class-list{float:left; width:80px; cursor:pointer; border-right:2px solid #ec5248; font-size:15px; line-height:32px; height:32px; position:relative; z-index:999; padding:5px; background:url(../images/arrow-sj.png) right 10px center no-repeat}
.shopbox{float:left; position:absolute; left:-2px; top:42px;background:#f9f9f7;width:86px;display:block; z-index:9999;box-shadow: 3px 3px 8px #b1b1b1;border:2px solid #ec5248;padding:2px;text-align: left;background-color: #fbfbfb;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
font-size: 14px;
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.05);
box-shadow: 0 2px 4px rgba(0,0,0,0.05);
background-clip: padding-box;
outline: none;}
.shopbox li{float:left; position:relative;background:#f9f9f7; cursor:pointer;  color:#333333;font-size:12px;  line-height:22px; width:86px;border-bottom:1px solid #e1e1e1; border-top:1px solid #fff; text-align:center}
.shopbox li.hover{ color:#ca0000}
.search{float:right; width:50px;border-left:2px solid #ec5248; height:42px; background:#ec5248; cursor:pointer}
.input-box{float:left;width:90%; height:32px; line-height:32px; border:0; padding:5px;font-size:14px;}

.select{border:0px solid #666666;line-height:22px; height:29px;margin-top:-1px;margin-left:-1px;padding:4px 3px;font-size:14px;width:120px;*width:122px;color:#333333;font-family:"微软雅黑";position:relative;z-index:9999; top:-2px;}
.select_border{*background:#fff;*border:0px solid #666666;*padding:4px;width:120px;*position:relative;*z-index:99;}
.container{*border:0;*position:relative;*width:120px;*height:18px;*overflow:hidden;*background:#fff;*z-index:999}
/*main*/
.mainmenu { width:100%; margin:0 auto; position: relative; z-index: 1; }
.mainmenu li { float:left; margin-left:2.5%; margin-top:2.5%; width:30%;}
.mainmenu li p { text-align:center; display:block;}
.mainmenu li a { display:block; color:#FFF; text-align:center; overflow:hidden;}
.mainmenu li:active { background-color:rgba(255, 255, 255, 0.1) }
.mainmenu li a img { width:60%; }
.mainmenu li a span { clear:both; display:block; line-height:40px; padding:0 0 16px 0; font-size:22px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:center }
#insert1, #insert2{ position:relative}

.mainmenu li { border: 0px; overflow: hidden; border-radius:0}
.copyright { padding:20px 0 80px 0; text-align:center; font-size:16px; color:#333333; width:100%; position: relative; float:left; z-index: 1; }
.colorwhite { color:#fff;}
.copyright a { color:#303030; text-decoration:underline }
.copyright a.a2 { color:#fff; text-decoration:underline }
.mainmenu li p {margin:0;}
.mainmenu li a img {margin:20px 0 0 0; }
.mainmenu li a.logo  img { width:84%; padding:0; margin:0; height:100% ;}
.mainmenu li a.plus img { width:60%; padding:38px 0; margin:0}

.boxbg1{ background-color:#ff8400}
.mainmenu li:nth-child(6n+1){ background-color:#ff8400}.boxbg1{ background-color:#ff8400}
.mainmenu li:nth-child(6n+2){ background-color:#2ac1c3}.boxbg2{ background-color:#2ac1c3}
.mainmenu li:nth-child(6n+3){ background-color:#eb2768}.boxbg3{ background-color:#eb2768}
.mainmenu li:nth-child(6n+4){ background-color:#0094cb}.boxbg4{ background-color:#0094cb}
.mainmenu li:nth-child(6n+5){ background-color:#fff}.boxbg5{ background-color:#fff}
.mainmenu li:nth-child(6n+6){ background-color:#00e873}.boxbg6{ background-color:#00e873}
.mainmenu li:nth-child(6n+7){ background-color:#ff381e}.boxbg7{ background-color:#ff381e}
.mainmenu li:nth-child(6n+8){ background-color:#8a9d0b}.boxbg8{ background-color:#8a9d0b}
.mainmenu li:nth-child(6n+9){ background-color:#00d8ff}.boxbg9{ background-color:#00d8ff}
.mainmenu li:nth-child(6n+10){ background-color:#b3d351}.boxbg10{ background-color:#b3d351}
.mainmenu li:nth-child(6n+11){ background-color:#2ac1c3}.boxbg11{ background-color:#2ac1c3}
.mainmenu li:nth-child(6n+12){ background-color:#00e873}.boxbg12{ background-color:#00e873}
.mainmenu li:nth-child(6n+13){ background-color:#0094cb}.boxbg13{ background-color:#0094cb}
.mainmenu li:nth-child(6n+14){ background-color:#4f4848}.boxbg14{ background-color:#4f4848}
.mainmenu li:nth-child(6n+15){ background-color:#ff88fb}.boxbg15{ background-color:#ff88fb}
.mainmenu li:nth-child(6n+16){ background-color:#8fb210}.boxbg16{ background-color:#8fb210}
.mainmenu li:nth-child(6n+17){ background-color:#ce4b77}.boxbg17{ background-color:#ce4b77}
.mainmenu li:nth-child(6n+18){ background-color:#8a9d0b}.boxbg18{ background-color:#8a9d0b}
.mainmenu li:nth-child(6n+19){ background-color:#00d8ff}.boxbg19{ background-color:#00d8ff}
.mainmenu li:nth-child(6n+20){ background-color:#1b9894}.boxbg20{ background-color:#1b9894}
.mainmenu li:nth-child(6n+21){ background-color:#ebebeb}.boxbg21{ background-color:#ebebeb}
/*shoplist*/
.detail-list { width:100%; margin:0 auto; position: relative; z-index:999;
 border-radius:3px;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;}
.toptitle{float:left; margin-left:2.5%; margin-top:2.5%; width:95%;position: relative; z-index: 10; background:#ec5248; border-bottom:3px solid #d71f13; height:58px ;
 border-top-left-radius:3px; border-top-right-radius:3px;
 -moz-border-top-left-radius:3px; -moz-border-top-right-radius:3px;
 -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px;}
.toptitleicon{float:left;width:100%;position: relative; z-index: 1; background:url(../images/detail_03.png) center bottom no-repeat; height:76px ; text-align:center}
.shopclass{float:left;width:40%;position: relative; z-index: 1; line-height:58px; font-size:18px; text-align:center ;  }
.shopclass3{float:left;width:40%;position: relative; z-index: 1; line-height:58px; font-size:18px; text-align:center ; color:#fff}
.shopclass2{float:left;width:20%;position: relative; z-index: 1; line-height:58px; font-size:18px; text-align:center ;}
.shop-page{float:left; margin-left:2.5%; width:95%;position: relative; z-index: 1; background:#ec5248; border-top:3px solid #d71f13; height:58px ;
 border-bottom-left-radius:3px; border-bottom-right-radius:3px;
 -moz-border-bottom-left-radius:3px; -moz-border-bottom-right-radius:3px;
 -webkit-border-bottom-left-radius:3px; -webkit-border-bottom-right-radius:3px; }
.pages{float:left;min-width:20px; padding:0 10px; margin-left:10px; color:#fff; line-height:50px; }
.pages a{ text-decoration:underline; font-size:14px; color:#fff; }
.shoplist{ float:left; margin-left:2.5%; width:95%; position: relative; z-index:9; background:#FFF; padding-top:1%;}
.shoplist li { float:left; margin-left:2.5%; margin-top:2.5%; width:95%; padding-bottom:10px; border-bottom:1px dotted #ccc; }
.shoplist li .leftimg{ text-align:center; display:block; float:left; width:25%; overflow:hidden}
.shoplist li .righttxt{ display:block; color:#ff5400; text-align:left; overflow:hidden; float:right; width:71%}
.shoplist li .shopname{ float:left; clear:both; display:block; line-height:80px; font-size:30px; width:100%; text-align:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.shoplist li .shopadd{ float:left; clear:both; display:block; color:#333333; line-height:60px; font-size:25px; width:100%; text-align:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.shoplist li .yellowj{ color:#ff5400;  }
.img-responsive { display: block;  max-width: 100%; height:100%; }
		/* Important part */
		
.mainbox { float:left; width:100%; margin:0 auto; position: relative; z-index: 1; }
.box{float:left; margin-left:2.5%; margin-top:2.5%; width:30%;display: inline-block;position:  relative;font-size: 12px;}
.box  p { text-align:center; display:block;}
.box  a { display:block; color:#FFF; text-align:center; overflow:hidden;}
.box  a img { width:60%; }
.box  a.logo  img { width:94%; padding-top:10%; margin:0; height:100% ;}
.box  a span { clear:both; display:block; line-height:40px; padding:0 0 16px 0; font-size:22px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:center }


.box  p {margin:0; border: 0px; overflow: hidden; border-radius:0}
.box  a img {margin:20px 0 0 0; }
.box:before{
	content: "";
	display: block;
	padding-top: 100%; /* initial ratio of 1:1*/
}

/* Other ratios */
.ratio2_1:before{
	padding-top: 50%;
}
.ratio1_2:before{
	padding-top: 200%;
}
.ratio4_3:before{
	padding-top: 75%;
}
.ratio16_9:before{
	padding-top: 56.25%;
}
.ratio6_5:before{
	padding-top: 83.33%;
}
.box-content{
	/* Positioning */
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/* Styling */
	text-align: center;
	vertical-align: center;
	text-transform: uppercase;
	color: #fff;
}
/*注册页面*/
.registpage{float:left;position: relative; z-index:999; width:100%}
.infobox{ float:left;position: relative; z-index:999;margin-left:2.5%; margin-top:2.5%; width:95%; background-color:#f3f3f3;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;}
.infobox p{ padding:10px; font-size:16px; color:#333333;line-height:30px;}
.infoaddbox{ float:left;position: relative; z-index:999;margin-left:2.5%; margin-top:2.5%; width:95%; background-color:#f3f3f3;
 border-top-left-radius:5px; border-top-right-radius:5px;
 -moz-border-top-left-radius:5px; -moz-border-top-right-radius:5px;
 -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; border-bottom:1px solid #d5d5d5;}
.infoaddbox2{ float:left;position: relative; z-index:999;margin-left:2.5%; width:95%; background-color:#f3f3f3;
 border-bottom-left-radius:5px; border-bottom-right-radius:5px;
 -moz-border-bottom-left-radius:5px; -moz-border-bottom-right-radius:5px;
 -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px;}
.add-icon1{ float:left;position: relative; z-index:999;width:55px; height:45px; background:url(../images/add_01.png) left 15px center no-repeat #ec5248;
 border-top-left-radius:5px;
 -moz-border-top-left-radius:5px;
 -webkit-border-top-left-radius:5px;}
.add-icon2{ float:left;position: relative; z-index:999;width:55px; height:45px; background:url(../images/tel_01.png) left 15px center no-repeat #ec5248;
 border-bottom-left-radius:5px;
 -moz-border-bottom-left-radius:5px;
 -webkit-border-bottom-left-radius:5px;}
.add-text{ float:left;position:relative;min-width:100px; font-size:16px; z-index:999;line-height:45px; padding-left:8px; color:#323232;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
 border-top-left-radius:5px;
 -moz-border-top-left-radius:5px;
 -webkit-border-top-left-radius:5px;}
 
.join-top{ float:left;position: relative; z-index:999;margin-left:2.5%; margin-top:2.5%; width:95%; height:45px; background:url(../images/register_01.png) left 10px center no-repeat #ec5248;
 border-top-left-radius:5px; border-top-right-radius:5px;
 -moz-border-top-left-radius:5px; -moz-border-top-right-radius:5px;
 -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;}
 .jointitle{ padding:10px 0 10px 70px ; float:left;position: relative; z-index:999; line-height:25px;width:60%; color:#fff; font-weight:100; font-size:15px}
 .join-mid{ float:left;position: relative; z-index:999;margin-left:2.5%; width:95%; padding-bottom:2.5%; background: #f3f3f3;
 border-bottom-left-radius:5px; border-bottom-right-radius:5px;
 -moz-border-bottom-left-radius:5px; -moz-border-bottom-right-radius:5px;
 -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px;}
 .join-input{ float:left;position: relative; z-index:999;margin-left:2.5%;margin-top:2.5%; width:94%; height:45px; background:url(../images/register_02.png) left 8px center no-repeat #f3f3f3; border:1px solid #d5d5d5;
 border-left-radius:5px; border-radius:5px;
 -moz-border-left-radius:5px; -moz-border-right-radius:5px;
 -webkit-border-left-radius:5px; -webkit-border-right-radius:5px;}
 .inputbg1{ background:url(../images/register_03.png) left 8px center no-repeat #f3f3f3;}
 .inputbg2{ background:url(../images/register_04.png) left 8px center no-repeat #f3f3f3;}
 .inputbg3{ background:url(../images/register_05.png) left 8px center no-repeat #f3f3f3;}
 .inputbox{ padding:10px 0 10px 40px ; float:left;position: relative; z-index:999; line-height:25px;width:90%; border:0px ; background:none; color:#b9b9b9; }
 .join-btn{ float:left;position: relative; z-index:999;margin-left:2.5%;margin-top:2.5%; width:94%;  border:1px solid #ec5248; background: #ec5248; text-align:center; cursor:pointer;
 border-radius:5px; border-radius:5px;
 -moz-border-radius:5px; -moz-border-radius:5px;
 -webkit-border-radius:5px; -webkit-border-radius:5px;letter-spacing:20px; line-height:45px;font-size:16px;color:#fff;}
.join-btn a{font-size:16px; color:#fff;line-height:45px; text-align:center; text-decoration:none;letter-spacing:20px} 

/*查询页面*/
.checkpage{float:left;position: relative; z-index:999; width:100%}
.checktitle{float:left;position: relative; z-index:999;margin-left:2.5%; margin-top:2.5%; width:95%; text-align:center; font-size:36px; color:#fff;line-height:60px;}
.checkbox{ float:left;position: relative; z-index:999;margin-left:2.5%; margin-top:2.5%; width:95%; background:url(../images/opacitybg.png);
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;}
.checkbox p{ padding:15px; font-size:16px; color:#fff;line-height:30px;}
.checkmemo{ float:left;position: relative; z-index:999; width:100%;}
.checkmemo .title{float:left;position: relative; padding:30px 0 10px 0; width:100%;font-size:24px; color:#fff;line-height:30px; text-align:center}
.checkmemo .datalist{float:left;position: relative;width:100%; padding-bottom:40px; font-size:30px; color:#fff;line-height:30px; text-align:center}
.checkmemo .datalist li{float:left;position: relative;width:100%; font-size:30px; color:#fff;line-height:30px; text-align:center}
.checkmemo .datalist li.left{ float:left;font-size:20px; color:#fff;line-height:35px; text-align:center; border:2px solid #ececec; background:#0ca48b;padding: 0 5%; margin-top:8px;margin-left:8%;margin-right:2%;
 border-radius:5px; 
 -moz-border-radius:5px;
 -webkit-border-radius:5px;width:20%;
}
.checkmemo .datalist li.right{ float:left;font-size:20px; color:#fff;line-height:35px; text-align:center; background:#2343aa;padding:0 5%; margin-top:8px;border:2px solid #ececec;
 border-radius:5px;width:40%;
 -moz-border-radius:5px;
 -webkit-border-radius:5px; 
}
.yijiantitle{float:left; margin:0 auto; z-index:999; text-align:center;margin-left:2.5%; padding:20px 0;width:95%; font-size:18px; color:#000;line-height:30px; text-align:center}
.yijiantitle a{ text-decoration:underline; color:#ad0000}
.yijiantitle2{float:left; margin:0 auto; z-index:999; text-align:center;margin-left:2.5%; padding:20px 0;width:95%; font-size:18px; color:#000;line-height:30px; text-align:left}

.yijiantop{float:left;position: relative; z-index:999;width:100%; min-height:20px;}
.yijianbot{float:left;position: relative; z-index:999;width:100%; min-height:20px;}
.otherbox{ float:left;position: relative; z-index:999;margin-left:15%; width:70%; background:url(../images/otherbg.png);
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;}
.otherbox2{ float:left;position: relative; z-index:999;margin-left:5%; width:90%; background:url(../images/otherbg.png);
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;}

/*底部菜单*/
.menwrap{position:fixed;right:0;bottom:0;width:100%;height:50px;z-index: 90000;}
.expan2{float:left;width:50px;height:50px;margin-top:0;margin-right:0;border-radius:0;-webkit-border-radius:0;opacity:1;border-top:1px solid #c7c7c7;border-right:1px solid #c7c7c7;background: url(../images/home.png) left 12px center no-repeat #fafafa;box-sizing:border-box;-webkit-box-sizing:border-box; cursor:pointer}
.expan2 a{ display:block;width:50px;height:50px;}
.expan3{width:40px;height:40px;margin-left:4px;margin-top:4px;background:#fafafa;background-size:20px 20px;border-radius:20px;-webkit-border-radius:20px;opacity:0.5;}
.btn3{position:relative;z-index:9000;bottom:0;border-top:1px solid #c7c7c7; margin-left:50px;background:#e6e6e6;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;}
.menu{position:relative;float:left;width:33.333%;height:50px;line-height:50px;background:#fafafa;border-right:1px solid #c7c7c7;box-sizing:border-box;-webkit-box-sizing:border-box; cursor:pointer}
.menu:last-child{border-right:none;}
.new-sub{position:absolute;bottom:65px;z-index:9000;width:96%;box-sizing:border-box;-webkit-box-sizing:border-box;display:none;border-radius:5px;-webkit-border-radius:5px; padding:10px;border:1px solid #c7c7c7;background:#fafafa;}
.margin10{margin:0 10px}
.new-sub li.pipe0{float:none;box-sizing:border-box;-webkit-box-sizing:border-box;}
.new-sub li.pipe1{float:none;box-sizing:border-box;-webkit-box-sizing:border-box;border-top:1px solid #c7c7c7;}
.new-sub li.icon{position:absolute;bottom:-16px;}
.new-sub li a{display:block;height:40px;line-height:40px;text-align:left;color:#333;border:none;text-align:center;font-size:16px; text-decoration:underline}
.sanjiao{position:absolute;bottom:5px;right:5px;width:0;height:0;border:5px solid transparent;border-right:5px solid #000;border-bottom:5px solid #000;opacity:.5;}
.bt-name{font-size:16px;color:#333;}
.bt-name a{display:block;font-size:16px;color:#333;}
@media only screen and (max-width: 799px) {
.new-sub{ width:90% !important;}
.mainmenu li a.logo  img { width:95%; padding:8px 0 9px 0; margin:0}

.shopsearch{height:40px; }
.soso-box{ width:80%;}
.class-list{ line-height:32px;padding:4px;width:80px;}
.search{width:45px;height:40px;}
.input-box{float:left;width:90%  !important; height:32px; border:0; padding:4px}

.shopbox{top:40px;width:84px;padding:2px;}
.shopbox li{float:left; position:relative;background:#f9f9f7; cursor:pointer;  color:#333333;font-size:12px;  line-height:22px; width:84px;border-bottom:1px solid #e1e1e1; border-top:1px solid #fff; text-align:center}

.soso-box{ width:65%; }
.shoplist li .shopname{ font-size:24px; line-height:50px;}
.shoplist li .shopadd{ line-height:40px; font-size:20px;}
.shoplist li .leftimg{ text-align:center; display:block; float:left;  width:130px; height:130px overflow:hidden}
}
@media only screen and (max-width: 639px) {
.new-sub{ width:90% !important;}
.box a img { width:60%; margin:15px 0 0 0;}
.box a.logo  img { width:95%; padding:15px 0 15px 0; margin:0}

.shopsearch{height:38px; }
.soso-box{ width:70%;}
.class-list{ line-height:32px;padding:3px;font-size:14px;}
.search{width:43px;height:38px;}
.input-box{float:left;width:90%  !important; height:32px; border:0; padding:3px}
.shopbox{top:38px;width:82px;padding:2px;}
.shopbox li{width:82px;}

.shoplist li .shopname{ font-size:24px; line-height:50px;}
.shoplist li .shopadd{ line-height:35px; font-size:18px;}
.shoplist li .leftimg{ text-align:center; display:block; float:left;  width:120px; height:120px overflow:hidden}
.box  a span {font-size:18px;line-height:30px; padding:5px 0 5px 0;}
.infobox p,.checkbox p{font-size:14px;line-height:28px;}
.checkmemo .datalist li.left{font-size:18px;line-height:35px;padding: 0 4%;margin-left:7%;margin-right:2%;width:25%;margin-top:8px;border:1px solid #fff;}
.checkmemo .datalist li.right{font-size:18px;line-height:35px;padding:0 4%;width:43%;margin-top:8px; border:1px solid #fff;}
}
@media only screen and (max-width: 439px) {
.new-sub{ width:96% !important;bottom:55px;}
.margin10{margin:0 2px !important}
.new-sub li a{font-size:14px; text-decoration:underline;height:35px;line-height:30px;}
.bt-name{font-size:14px;}
.bt-name a{font-size:14px;}
.menu{ height:40px !important;line-height:40px !important;}
.expan2{width:40px;height:40px;background: url(../images/home.png) left 6px center no-repeat #fafafa;-moz-background-size:16px 14px;
    -webkit-background-size:16px 14px;
    -o-background-size:16px 14px;
    background-size:16px 14px;}
.expan2 a{width:40px;height:40px;}
.btn3{ margin-left:40px;}
.menwrap{height:40px;}
.box a span {font-size:15px;line-height:30px; padding:0 0 10px 0; }
.box a img {margin:10px 0 0 0;width:60%; }
.box a.logo  img { width:95%; padding:6px 0 6px 0; margin:0}
.copyright { padding:15px 0 60px 0; text-align:center; font-size:13px; color:#333333; position: relative; z-index: 1; }
.colorwhite{color:#fff;}


.shopsearch{height:38px; }
.soso-box{ width:56%;}
.class-list{ line-height:32px;padding:3px;font-size:14px;}
.search{width:40px;height:38px;}
.input-box{float:left;width:90%  !important; height:32px; border:0; padding:3px}

.shoplist li .shopname{ font-size:17px; line-height:30px;}
.shoplist li .shopadd{ line-height:25px; font-size:13px;}
.shoplist li .leftimg{ text-align:center; display:block; float:left;  width:80px; height:80px overflow:hidden}
.infobox p,.checkbox p{font-size:13px;line-height:25px; padding:10px}
.add-icon1{width:50px; height:40px; background:url(../images/add_01.png) left 13px center no-repeat #ec5248;}
.add-icon2{width:50px; height:40px; background:url(../images/tel_01.png) left 13px center no-repeat #ec5248;}
.add-text{line-height:40px; font-size:14px;}
.join-input{height:35px; font-size:14px;}
.inputbox{ padding:5px 0 5px 40px ; line-height:25px;width:80%;}
.join-top{height:35px; font-size:14px;}
.join-btn{font-size:14px;line-height:35px;letter-spacing:10px} 
.checktitle{font-size:30px;line-height:50px;}
.checkmemo .title{font-size:18px;line-height:25px; padding:30px 0 10px 0;} 
 .checkmemo .datalist{ padding-bottom:30px}
.checkmemo .datalist li.left{font-size:16px;line-height:30px;padding: 0 4%;margin-left:7%;margin-right:2%;width:25%;margin-top:8px;border:1px solid #fff;}
.checkmemo .datalist li.right{font-size:16px;line-height:30px;padding:0 4%;width:43%;margin-top:8px; border:1px solid #fff;}
.yijiantitle,.yijiantitle2{font-size:16px;padding:15px 0;line-height:30px; }
}
@media only screen and (max-width: 339px) {
.new-sub{ width:96% !important;bottom:55px;}
.margin10{margin:0 2px !important}
.new-sub li a{font-size:12px; text-decoration:underline;height:35px;line-height:30px;}
.bt-name{font-size:12px;}
.bt-name a{font-size:12px;}
.menu{ height:40px !important;line-height:40px !important;}
.expan2{width:40px;height:40px;background: url(../images/home.png) left 11px center no-repeat #fafafa;-moz-background-size:16px 14px;
    -webkit-background-size:16px 14px;
    -o-background-size:16px 14px;
    background-size:16px 14px;}
.expan2 a{width:40px;height:40px;}
.btn3{ margin-left:40px;}
.menwrap{height:40px;}
.box  a span {font-size:14px;line-height:30px; padding:0 0 5px 0;}
.box  a img {margin:10px 0 0 0; }
.box  a.logo  img { width:95%; padding:10px 0 10px 0; margin:0}
.copyright { padding:15px 0 60px 0; text-align:center; font-size:13px; color:#333333; position: relative; z-index: 1; }
.colorwhite{color:#fff;}

 
.shopsearch{height:30px; border:1px solid #ec5248 }
.soso-box{ width:52%;}
.class-list{ line-height:26px;height:26px;padding:2px;border-right:1px solid #ec5248; font-size:12px}
.search{width:30px;height:30px;}
.input-box{float:left;width:90%  !important; height:26px;line-height:26px; border:0; padding:2px; font-size:12px}

.shopbox{top:30px;width:80px;padding:2px;height:26px; border:1px solid #ec5248;left:-1px }
.shopbox li{width:80px;}

.shoplist li .shopname{ font-size:16px; line-height:25px;}
.shoplist li .shopadd{ line-height:20px; font-size:14px;}
.shoplist li .leftimg{ text-align:center; display:block; float:left;  width:75px; height:75px overflow:hidden}
.ratio6_5:before{
	padding-top:95%;
}
.infobox p,.checkbox p{font-size:12px;line-height:22px;padding:10px}
.add-icon1{width:40px; height:35px; background:url(../images/add_01.png) left 10px center no-repeat #ec5248;-moz-background-size:20px 20px;
    -webkit-background-size:20px 20px;
    -o-background-size:20px 20px;
    background-size:20px 20px;}
.add-icon2{width:40px; height:35px; background:url(../images/tel_01.png) left 10px center no-repeat #ec5248;-moz-background-size:20px 20px;
    -webkit-background-size:20px 20px;
    -o-background-size:20px 20px;
    background-size:20px 20px;}
.add-text{ line-height:35px; font-size:13px;}
.join-input{height:35px; font-size:14px;}
.join-input{line-height:35px; font-size:14px;}
.inputbox{ padding:5px 0 5px 40px ; line-height:25px;width:80%;}
.join-top{height:35px; font-size:14px;}
.join-btn{font-size:14px;line-height:35px;letter-spacing:10px} 
.checktitle{font-size:24px;line-height:40px;}
.checkmemo .title{font-size:16px;line-height:25px; padding:20px 0 5px 0;}
.checkmemo .datalist{ padding-bottom:20px}
.checkmemo .datalist li.left{font-size:14px;line-height:30px;padding: 0 4%;margin-left:5%;margin-right:2%;width:25%;margin-top:8px;border:1px solid #fff;}
.checkmemo .datalist li.right{font-size:14px;line-height:30px;padding:0 4%;width:43%;margin-top:8px; border:1px solid #fff;}
.yijiantitle,.yijiantitle2{font-size:14px;padding:15px 0;line-height:25px;}

}