@charset "utf-8";
/* 简单流媒体
   注意: 流媒体要求您删除 HTML 中媒体的高度和宽度属性
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 不支持最大宽度，因此默认为 100% 宽度 */
.ie6 img {
	width:100%;
}

ul, li, h1, h2{
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

/*
	Dreamweaver 流体网格属性
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	灵感来自于 Ethan Marcotte 的“具有响应的 Web 设计” 
	http://www.alistapart.com/articles/responsive-web-design
	
	和 Joni Korpi 的“黄金网格系统”
	http://goldengridsystem.com/
*/

/* 移动设备布局: 480px 及更低。 */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
/* 平板电脑布局: 481px 至 768px。样式继承自: 移动设备布局。 */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
}

/* 桌面电脑布局: 769px 至最高 1232px。样式继承自: 移动设备布局和平板电脑布局。 */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
}

.gridContainer header h1{
	height: 60px;
  	line-height: 60px;
	text-align: center;
}
.gridContainer ul li {
	margin-bottom: 20px;
}
.gridContainer table {
	width: 96%;
	margin-left: 4%;
	margin-top: 10px;
	border: 1px solid #d1d1d1;
	border-collapse: collapse;
}
.gridContainer table th,
.gridContainer table td {
	padding: 4px 6px;
	vertical-align: middle;
	border: 1px solid #d1d1d1;
}

.gridContainer table th:nth-child(1),
.gridContainer table td:nth-child(1) {
	text-align: center;
}

.gridContainer table th:nth-child(2),
.gridContainer table td:nth-child(2) {
	width: 20%;
}

.gridContainer table th:nth-child(3),
.gridContainer table td:nth-child(3),
.gridContainer table th:nth-child(4),
.gridContainer table td:nth-child(4) {
	width: 10%;
}

.gridContainer table th:nth-child(5),
.gridContainer table td:nth-child(5) {
	width: 40%;
}

.gridContainer table th:nth-child(6),
.gridContainer table td:nth-child(6) {
	width: 10%;
}