@charset "utf-8";
html, body {
    height: 100%;
    font: 1em/1.5 "Courier New", Courier, monospace;
}
html, body, p, h1, h2, h3, h4, h5, ul, ol, li, pre {
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none;
}

.main {
    padding: 0 20px;
}
h1.title {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 20px 0;
}
.content {
    margin: 0 65px;
}
::selection {
    color: #fff;
    text-shadow: none;
    background: #FF5E99;
}

blockquote {
    border-left: 5px solid #CcC;
    margin: 0;
    text-indent: 1em;
    margin-left: 3em;
    background-color: #f6f6f6;
    padding: 10px 0;
}

pre.prettyprint {
    margin: 0;
    padding: 10px;
}

a {
    color: #000;
    text-decoration: none;
}

.indent2 {
    margin-left: 2em !important;
}